
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Calories Log Index
      </h1>
      <h2 class="subtitle">
        Welcome <i><%= current_user.name %></i>
      </h2>
      <i><%= link_to 'New Log', new_user_calory_path, class:"button is-outlined" %></i>

    </div>
  </div>
</section>
