

<section class="hero is-dark is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome!!!
      </h1>
      <h2 class="subtitle">
        This is your Calories Log
      </h2>

      <%= link_to 'Calories Log Index', calories_path, class:"button is-link" %>

      <%= link_to 'Calories Log Chart', "#", class:"button is-link" %>

    </div>
  </div>
</section>
